{% extends 'home/base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block css %}
<style>
  @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

  label {
    color: black;
    font-weight: normal;
  }

  .contact3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  .contact3 .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  }
</style>
{% endblock %}
{% block js %}
<script src="{% static 'js/contact.js' %}"></script>{% endblock %}
{% block contactactive %} active {% endblock contactactive %}
{% block div1 %}
<section>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message : </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <div class="contact3 py-5">
    <div class="row no-gutters">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card-shadow">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/2.jpg" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact-box ml-3"></div>
            <h1 class="font-weight-bold mt-3 mt-sm-0">Contact Us</h1>
            <form action="/contact" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="name">Full Name :</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="name"
                  placeholder="Enter your Full Name" autocomplete="off">
                <small id="nmer" class="form-text"></small>
              </div>
              <div class="form-group">
                <label for="Email">Email :</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                  placeholder="Enter Your email" autocomplete="off">
                <small id="emer" class="form-text"></small>
              </div>
              <div class="form-group">
                <label for="content">Describe your Issue:</label>
                <textarea class="form-control" id="content" name="content" cols="20" rows="6"
                  placeholder="Type your Message Here..."></textarea>
                <small id="contenter" class="form-text"></small>
              </div>
              <button type="submit" id="sub" class="btn btn-danger-gradiant mt-1 text-white border-0 px-3 py-2"><span>
                  SEND</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}