{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'js/fbhome.js' %}"></script>
    <style>
        .logo {
            width: 240px;
            margin-top: 20px;
            margin-left: 120px;
        }

        .logoimg {
            margin-left: 130px;
            margin-top: 20px;
        }

        label {
            margin-top: 13px;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            color: #fff;

        }

        input.logem:focus {
            background-color: rgb(250, 237, 119);
            border: 2px solid #862d59;
        }

        input.logpas:focus {
            background-color: rgb(250, 237, 119);
            border: 2px solid #862d59;
        }

        @media only screen and (max-width: 600px) {
            .logoimg {
                margin-left: 10px;
            }

            label {
                color: black;
            }

            #em {
                margin-top: 48px;
            }

            #ps {
                margin-top: 0px;
            }

            .fp {
                color: blue;
            }

            .login {
                margin-top: -31px;
            }

            select {
                width: 60px !important;
                height: 30px !important;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-md-12 col-12" style="background-color: #3C5898; height: 108px; ">
            <div class="row">
                <div class="col-md-6 col-12">
                    <img class="image-responsive logoimg" src="{% static 'images/fb.jpg' %}" alt="error"
                        style="vertical-align: middle;">
                </div>
                <div class="col-md-6 col-12">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label id="em" for="email">Email or Phone </label>
                                    <input type="email" class="form-control form-controlsetting logem" id="email"
                                        style="width: 100%; height: 25px;">
                                    <label id="eruser" style="color: red; margin-top: -22px;font-size: small;"
                                        for=""></label>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label id="ps" for="password">Password</label>
                                    <input type="password" class="form-control form-controlsetting logpas" id="password"
                                        style="width: 100%; height: 25px;">
                                    <label for="" style="margin-top: 1%;"> <a style="color: #9cb4d8;" href="#">Forgoten
                                            Password?</a></label>
                                    <!-- <label id="erpass" style="color: red; margin-top: -22px;font-size: small;"
                                        for=""></label> -->
                                </div>
                            </div>
                            <div class="col-md-4 col-12 form-group" style="margin-top: 44px;">
                                <button onclick="return validate()" type="submit" class="login" id="btn1"
                                    style="background-color: #4267b2; color: white;">Log in</button>
                                <label id="erpass"
                                    style="color: red; margin-top: -22px;font-size: small; margin-left: 10px;"
                                    for=""></label>
                            </div>
                            <div class="col-6 d-block d-sm-none crac">
                                <button class="btn btn-success btn1">Create Account</button>

                            </div>
                            <div class="col-md-4">
                                <br>
                            </div>
                            <!-- <div class="col-md-4 d-sm-block fp" style="margin-top: -2%;">
                                <a style="color: #9cb4d8;" href="#">Forgoten Password?</a>
                            </div> -->

                    </form>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 d-none d-sm-block" style="background-color:#f3f4f9; height: 720px; padding: 30px 154px;">
        <div class="row">
            <div class="col-md-6 d-none d-sm-block">
                <div style="margin-left: -26px; top: 30px;" class="col-md-8 d-none d-sm-block">
                    <h2 style="font-weight: bold;
                    font-size: 22px;
                    color: #223949;">Facebook helps you connect and share with the people in your life </h2>
                </div>
                <div class="col-md-8"><img src="{% static 'images/logo2.png' %}"
                        style="margin-left: -45px; margin-top: 40px; width: 130%; height: 50%;" alt=""></div>
            </div>
            <div class="col-md-6  d-none d-sm-block">
                <h1>Create a new account</h1>
                <h5>it's free and always will be.</h5>
                <form action="#" id="myformsignup" style="margin-left: -15px;">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" id="firstName" class="form-control" placeholder="First Name"
                                    style="height: 38px;">
                                <small id="firsterror"
                                    style="padding-left: 2px; padding-top: 50px; font-family: 'Times New Roman', Times, serif; font-size: medium;"></small>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" id="lastName" class="form-control" placeholder="Surname"
                                    style="height: 38px;">
                                <small id="lasterror"
                                    style="padding-left: 2px; padding-top: 50px; font-family: 'Times New Roman', Times, serif; font-size: medium;"></small>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" placeholder="Mobile number or Email address"
                                        style="height: 38px; margin-left: 15px;" id="mob">
                                    <small
                                        style="padding-left: 15px; padding-top: 50px; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                        id="moberror"></small>

                                </div>
                                <div class="col-md-12">
                                    <input type="password" class="form-control" placeholder="Password"
                                        style="height: 38px; margin-left: 15px;" id="pass2">
                                    <small
                                        style="padding-left: 15px; padding-top: 50px; font-family: 'Times New Roman', Times, serif; font-size: medium;"
                                        id="passerror"></small>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <h5 style="margin-top:20px; margin-left: 15px;">Birthday</h5>
                                </div>
                                <div class="col-md-8">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 15px;">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <select name="select" required>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select name="month" required>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <select name="year" required>
                                                <option>1991</option>
                                                <option>1992</option>
                                                <option>1993</option>
                                                <option>1994</option>
                                                <option>1995</option>
                                                <option>1996</option>
                                                <option>1997</option>
                                                <option>1998</option>
                                                <option>1999</option>
                                                <option>2000</option>
                                                <option>2001</option>
                                                <option>2002</option>
                                                <option>2003</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <a href="#"></a>
                                            <p style="color: #365899; font-size: 12px;">Why do i need to provide my date
                                                of birth?</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8" style="margin-left: 27px;">
                                    <div class="row">
                                        <label class="radio-inline" style="color: black;">
                                            <input type="radio" name="fbradio"> Male</label>
                                        <label class="radio-inline" style="color: black; margin-left: 2%;">
                                            <input type="radio" name="fbradio"> Female
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-10" style="margin-left: 27px;">
                                    <div class="row">
                                        <a style="color: #777; font-size: 15px;" href="#">
                                            <p>By clicking sign up you agree to our terms Data policy and cooke policy.
                                                You may recieve SMS notifications from us and can opt out any time.
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-success btn1" style="margin-left: 27px;width: 100%"
                                            id="submit" type="submit">Create Account</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr style="margin-left: 27px;">
                                    </div>
                                    <div class="col-md-8">
                                        <h6 style="margin-left: 27px;">Create a page for celebrity or Bussiness</h6>
                                    </div>
                                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-12">
                <hr>
                <p>Developed for non-commercial purpose &nbsp; &copy;</p>
            </div>
        </div>
    </footer>
</body>
<script>
    function validate() {

        var username = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

        status = 1;
        var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

        if (username.trim() == "") {
            document.getElementById("eruser").innerHTML = "Enter username";
            username.style.border = "3px solid red";

            status = 0;
        }
        else if (username.match(mailformat) == null) {

            document.getElementById("eruser").innerHTML = "Enter valid email or phone number";

            status = 0;
        }



        else {
            document.getElementById("eruser").style.visibility = "hidden";

        }


        if (username.match(phoneno) == null) {

            document.getElementById("eruser").innerHTML = "Enter valid email or Phone number";
            status = 0;
        }


        else {
            document.getElementById("eruser").style.visibility = "hidden";

        }

        if (password.trim() == "") {
            document.getElementById("erpass").innerHTML = "Please enter password";
            status = 0;
        }
        else if (password.trim().length < 8) {
            document.getElementById("erpass").innerHTML = "Please enter minimum 8 characters";
            status = 0;
        }

        else {
            document.getElementById("erpass").style.visibility = "hidden";

        }

        if (status == 1) {
            return true;
        }
        else {
            return false;
        }


    }

</script>


<script>

    $(document).ready(function () {
        var firstName = $("#firstName");
        var lastName = $("#lastName");
        var moborem = $("#mob");
        var password2 = $("#pass2");

        $("#submit").click(function () {

            checkFirstName()
            checkLastName()
            checkMobEm()
            passwordChecking()
            if (status == 1) {
                return true
            }
            else {
                return false
            }
        });
        function checkFirstName() {
            if (firstName.val().trim() == "") {
                $("#firsterror").html("Please enter your first name")
                $("#firsterror").css("color", "red")
                firstName.css("border", "1px solid red")

                return false
            }
            else if (firstName.val().trim().length <= 6) {
                $("#firsterror").html("Please enter minimum 6 charactar")
                $("#firsterror").css("color", "red")
                firstName.css("border", "1px solid red")
                return false

            }
            else {
                $("#firsterror").css("visibility", "hidden")
                firstName.css("border", "1px solid green")
                status = 1
                return true
            }
        }

        function checkLastName() {
            if (lastName.val().trim() == "") {
                $("#lasterror").text("please enter your last name")
                $("#lasterror").css("color", "red")
                lastName.css("border", "1px solid red")
                return false
            }
            else if (lastName.val().trim().length <= 6) {
                $("#lasterror").text("please enter minimum 6 charactar")
                $("#lasterror").css("color", "red")
                lastName.css("border", "1px solid red")
                return false
            }
            else {
                $("#lasterror").css("visibility", "hidden")
                lastName.css("border", "1px solid green")
                status = 1
                return true
            }
        }
        function checkMobEm() {
            if (moborem.val().trim() == "") {
                $("#moberror").text("please enter your email or mobile number")
                $("#moberror").css("color", "red")
                moborem.css("border", "1px solid red")
                return false

            }
            else if (emailChecking(moborem.val()) == false || mobileNumber(moborem.val()) == false) {
                $("#moberror").text("please enter valid email or mobile number")
                $("#moberror").css("color", "red")
                moborem.css("border", "1px solid red")
                return false
            }

            else {
                $("#moberror").css("visibility", "hidden")
                moborem.css("border", "1px solid green")
                return true
            }
        }

        function passwordChecking() {
            if (password2.val().trim() == "") {
                $("#passerror").text("please enter your password")
                $("#passerror").css("color", "red")
                password2.css("border", "1px solid red")
                return false
            }
            else if (password2.val().trim().length <= 6) {
                $("#passerror").text("Please enter minimum 6 character")
                $("#passerror").css("color", "red")
                password2.css("border", "1px solid red")
                return false
            }
            else {
                $("#passerror").css("visibility", "hidden")
                password2.css("border", "1px solid green")
                return true
            }
        }

        function emailChecking(moborem) {
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (mailformat.test(moborem)) {
                return true
            } else {
                return false
            }
        }
        function mobileNumber(moborem) {
            var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;

            if (phoneno.test(moborem)) {
                return true
            } else {
                return false
            }

        }

    });
</script>

</html>