{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment-9</title>
    <link rel="stylesheet" href="{% static 'css/assignment9.css' %}">
</head>
<body>
    <table>
        <tr>
            <th colspan="5">Student Details</th>
        </tr>
        <tr>
            <th rowspan="2">Shift</th>
            <th rowspan="2">Student Name</th>
            <th rowspan="2">Course</th>
            <th colspan="2">Contact Details</th>
        </tr>
        <tr>
            <th>Mobile</th>
            <th>Landline</th>
        </tr>
        <tr>
            <td rowspan="3">Morning</td>
            <td>Shubam</td>
            <td>Chemistry</td>
            <td>9845789671</td>
            <td>23456</td>
        </tr>
        <tr>
            <td>Angad</td>
            <td>Physics</td>
            <td>9867345135</td>
            <td>75093</td>
        </tr>
        <tr>
            <td>Cole</td>
            <td>Physics</td>
            <td>4423357810</td>
            <td>65190</td>
        </tr>
        <tr>
            <td rowspan="3">Evening</td>
            <td>Cassie</td>
            <td>Medicine</td>
            <td>9856735695</td>
            <td>45835</td>
        </tr>
        <tr>
            <td>Vansh</td>
            <td>Commerce</td>
            <td>8967881245</td>
            <td>23667</td>

        </tr>
        <tr>
            <td>Riddhima</td>
            <td>Physio Science</td>
            <td>9945127750</td>
            <td>23557</td>
        </tr>
    </table>
</body>
</html>