{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment-4</title>
    <link rel="stylesheet" href="{% static 'css/assignment4.css' %}">
</head>

<body>
    <div class="div1">
        <p class="id1">Python</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit et iste explicabo praesentium, fuga numquam
            animi eum nostrum molestiae quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquam
            sequi accusamus doloribus, animi asperiores voluptate corrupti. Dolore, debitis? Odit.
        </p>
    </div>
    <hr>
    <div class="div1">
        <p class="id1">Java</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem atque totam possimus officiis voluptates.
            Mollitia quisquam nisi fugit sit expedita odio eum. Itaque fugiat animi cupiditate consequatur quibusdam vel
            eum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque vero, error omnis atque
            distinctio mollitia dicta magni iste maxime!
        </p>
    </div>
    <hr>
    <div class="div1">

        <p class="id1">PHP</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, nostrum. Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Totam molestiae saepe quis aliquam voluptatum. Natus omnis a earum doloremque
            tenetur.</p>
    </div>
    <hr>
    <div class="div1">

        <p class="id1">Nodejs</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa dolore quod a cum et beatae fugit iusto quas
            voluptate in. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem facere ipsa sed eos vitae
            repellendus excepturi nihil delectus, tempora aspernatur!</p>
    </div>
    <hr>
    <div class="div1">

        <p class="id1">Microsoft</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto dolore, quaerat quibusdam nihil
            molestiae
            perferendis consequuntur nostrum cupiditate dignissimos tempore. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Exercitationem sapiente illum aspernatur repellat nostrum sint aliquam aut, quis ad rem.
        <p>
    </div>
</body>
</html>