{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment-14</title>
    <link rel="stylesheet" href="{% static 'css/assignment14.css' %}">
</head>
<body>
    <div id="divi">
        <ul>
            <li>Home</li>
            <li>Profile</li>
            <li>Messages</li>
            <li>Settings</li>
            <li>About Us</li>
        </ul>
    </div>
</body>
</html>