{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>assignment-16</title>
    <link rel="stylesheet" href="{% static 'css/assignment16.css' %}">
</head>

<body>
    <div class="main">
        <h1>PERIODIC TABLE</h1>
    </div>
    <div class="contents" id="toc">
        <ol>
            <li class="mainol"><a href="#1">Overview</a></li>
            <ol class="scol">
                <li><a href="#2">Sets of elements</a></li>
                <li><a href="#3">Periodic trends and patterns</a></li>
            </ol>
            <li class="mainol"><a href="#4">Electron configuration</a></li>
            <ol class="scol">
                <li><a href="#5">Ionization energy</a></li>
                <li><a href="#6">Electronegativity</a></li>
            </ol>
            <li class="mainol"><a href="#7">Elements with unknown chemical properties</a></li>
            <ol class="scol">
                <li><a href="#8">Further periodic table extensions</a></li>
                <li><a href="#9">Element with the highest possible atomic number</a></li>
            </ol>
    </div>
    <div class="sec1" id="1">
        <ul>
            <li class="lii">
                <p class="subhd">Overview</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">The periodic table, also known as the periodic table of elements, is a tabular display
                    of the chemical elements, which are arranged by atomic number, electron configuration, and recurring
                    chemical properties. The structure of the table shows periodic trends. The seven rows of the table,
                    called periods, generally have metals on the left and nonmetals on the right. The columns, called
                    groups, contain elements with similar chemical behaviours. Six groups have accepted names as well as
                    assigned numbers: for example, group 17 elements are the halogens; and group 18 are the noble gases.
                    Also displayed are four simple rectangular areas or blocks associated with the filling of different
                    atomic orbitals.The elements from atomic numbers 1 (hydrogen) to 118 (oganesson) have all been
                    discovered or synthesized, completing seven full rows of the periodic table.[1][2] The first 94
                    elements, hydrogen to plutonium, all occur naturally, though some are found only in trace amounts
                    and a few were discovered in nature only after having first been synthesized.[n 1] Elements 95 to
                    118 have only been synthesized in laboratories, nuclear reactors, or nuclear explosions.The
                    synthesis of elements having higher atomic numbers is currently being pursued: these elements would
                    begin an eighth row, and theoretical work has been done to suggest possible candidates for this
                    extension. Numerous synthetic radioisotopes of naturally occurring elements have also been produced
                    in laboratories.</p>
            </li>
        </ul>
    </div>
    <div class="sec1" id="2">
        <ul>
            <li class="lii">
                <p class="subhd">Sets of elements</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam quia,
                    voluptatem eum similique ea et assumenda, quaerat aut minima veritatis quas facere dolorum.
                    Accusantium debitis tempore aperiam neque corrupti nisi facere doloremque, at beatae repellat
                    dolorem facilis quis expedita, ducimus dignissimos quos, asperiores fugiat accusamus velit ea!
                    Dignissimos exercitationem quisquam nobis! Numquam consequatur soluta cumque facilis perferendis
                    velit error aut, cum laboriosam. Voluptatum error cupiditate nisi illo ducimus reiciendis optio,
                    eveniet cum labore suscipit sequi unde vel iusto dolorum ullam id fugit soluta dolorem aperiam!
                    Autem cupiditate veniam, eaque natus, maiores ex inventore deserunt saepe dolorum aperiam error
                    molestias ab pariatur assumenda ad odit! Quas perferendis fuga in quos illum nobis mollitia magni
                    eaque id error fugit, aspernatur nulla cum possimus dolorem distinctio? Nesciunt tempora ipsa iure
                    optio excepturi amet veniam qui neque necessitatibus impedit deserunt animi nemo iste veritatis
                    incidunt quisquam, placeat dolorem facilis, earum dicta fugit, culpa error! Nemo numquam repellendus
                    nesciunt veniam et similique, recusandae, corporis quos repudiandae iusto qui quas est unde tenetur
                    dolor magnam dignissimos praesentium tempora dolore incidunt distinctio amet assumenda id. Provident
                    nam ratione eum, repellat accusamus ipsum porro amet? Molestias quidem, ab consequatur ea error
                    nihil et in modi accusamus quas distinctio perspiciatis corrupti fuga voluptatem quibusdam doloribus
                    repellendus vitae iusto nemo voluptatibus architecto. Voluptate illo nulla reprehenderit. Temporibus
                    inventore consectetur provident cupiditate? Officiis fugiat, nisi voluptatum deleniti reiciendis
                    nobis ea minima ratione repellat delectus voluptatibus rem odio, unde aspernatur sit, deserunt fugit
                    porro voluptate quia nostrum recusandae dolor corporis? Cumque, ducimus quisquam. Quas possimus
                    blanditiis enim, incidunt error aut esse inventore eaque autem. Numquam at dolor facere ipsa iste
                    doloremque consectetur nemo dicta, enim similique nostrum provident est tempore! Labore eos eligendi
                    inventore voluptatum perferendis repellendus nesciunt ad. Sed voluptas aperiam accusantium
                    perspiciatis quam quo esse neque mollitia aspernatur harum. </p>
            </li>
        </ul>
    </div>
    <div class="sec1" id="3">
        <ul>
            <li class="lii">
                <p class="subhd">Periodic trends and patterns</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus debitis
                    laboriosam, corrupti repellendus impedit perferendis, possimus similique pariatur, cumque inventore
                    ratione. Beatae ipsam libero amet, fuga culpa quae pariatur reprehenderit. Dignissimos natus officia
                    aspernatur recusandae expedita quaerat nulla architecto suscipit voluptas ea aliquam, corporis quo
                    modi omnis reiciendis sequi! Cumque esse cum totam eum placeat quidem in ab earum excepturi et
                    beatae accusantium repudiandae, iure laborum voluptas laudantium, ipsam incidunt eveniet tempore.
                    Quam debitis veniam repellendus unde blanditiis rem atque quisquam. Temporibus, sed magnam. Ratione
                    iste modi mollitia accusantium eaque suscipit, in laudantium molestias esse quod exercitationem
                    veritatis natus debitis repellat, ipsum, illum corrupti ab rem nobis odit velit aliquam maxime
                    delectus vero? Voluptas odit, ut ipsa rem est eius commodi modi repellendus temporibus! Tempora
                    exercitationem quas rerum natus labore itaque saepe ipsam porro cum, adipisci, dicta architecto
                    facere deserunt esse delectus dolores earum quia similique laboriosam fugiat? Cupiditate quis
                    temporibus suscipit molestiae totam a minima vel labore, debitis, eum placeat blanditiis velit
                    voluptatum iure odit omnis rem harum in, error atque? Ratione unde laborum pariatur ut optio magni?
                    Similique quas, quibusdam quo expedita harum consectetur rerum cum repellat dicta sed hic
                    aspernatur? Quo rem omnis dolorem autem. Minima voluptas quia quaerat earum natus. Itaque,
                    cupiditate vitae cum debitis delectus eveniet voluptates dolorem aspernatur doloribus, voluptate
                    deleniti at. Esse architecto vel excepturi pariatur minus reiciendis blanditiis sapiente, nisi
                    recusandae quo rem amet! Laborum, et voluptatum eaque, deleniti odio modi doloremque perspiciatis
                    quidem assumenda dignissimos illum in iste mollitia placeat consequatur id ab culpa reprehenderit
                    asperiores ut. Assumenda maxime voluptate ipsa aliquam deleniti eos id, aperiam voluptatem impedit!
                    Corrupti libero, quasi officia molestiae quas saepe rerum! Magnam eligendi doloremque incidunt optio
                    earum. Nihil voluptatibus facere rem numquam laboriosam accusantium minus similique fuga ratione
                    culpa excepturi amet, odio architecto labore qui sed, minima vero? Consectetur dolorem inventore
                    quas explicabo voluptate perferendis et quisquam, molestias est, iure maxime illo sequi cumque
                    obcaecati delectus, voluptatum officia praesentium animi! Voluptates praesentium et dolores totam
                    voluptatem ullam nisi commodi nostrum tempore qui quod reprehenderit doloribus molestiae fugiat
                    quis, illo necessitatibus perspiciatis molestias reiciendis explicabo inventore? Debitis, natus
                    architecto enim aut amet soluta quasi facilis illo repellat magnam veritatis minus in error deleniti
                    voluptate nemo voluptatem animi quae dolores ipsum culpa nesciunt ducimus cupiditate. Alias,
                    accusantium. Omnis quos quam non, maxime ipsam vel illo unde labore veritatis doloremque magni sunt
                    praesentium cupiditate ullam! Quasi, accusantium. Dolores, error.</p>
            </li>
        </ul>
    </div>
    <div class="sec2" id="4">
        <ul>
            <li class="lii">
                <p class="subhd">Electron configuration</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aut velit doloremque,
                    cupiditate ipsa earum quidem eveniet voluptatibus, mollitia labore blanditiis aliquam, eligendi in
                    reiciendis? Eveniet, voluptatibus. Aspernatur illo minus odit, repellat velit quaerat magni maxime
                    non quae in aut ipsum animi nisi, quam modi corporis ratione dolore. Cumque quae molestias
                    repudiandae alias ducimus laudantium accusantium voluptate dicta pariatur error reiciendis accusamus
                    numquam velit molestiae commodi, excepturi officia eum! Aspernatur, at earum maiores magni possimus,
                    error suscipit molestias ipsam mollitia saepe eveniet iure, expedita nemo velit repellat ducimus.
                    Dolorum expedita odio perferendis quod, saepe veniam amet adipisci nobis ipsam iure, est commodi
                    reiciendis. Quisquam illum reprehenderit asperiores quae nostrum, sint corrupti? Iure beatae quam
                    sunt saepe voluptatibus? Inventore dolores ea obcaecati? Porro tempore est doloribus earum corrupti
                    ipsam dolorum obcaecati quaerat nulla incidunt, amet tempora mollitia id qui voluptatibus fuga
                    accusamus animi. Aspernatur, neque. Eligendi, necessitatibus nulla, cum facilis voluptatum qui
                    commodi placeat atque alias nobis recusandae dicta amet laboriosam. Cum, placeat. Hic nam qui quod
                    rem aperiam dolores cum excepturi aspernatur temporibus ex nemo recusandae debitis velit culpa
                    pariatur aut asperiores magnam sapiente sit, officiis corporis fugiat animi omnis. Voluptate, totam
                    quas. Veritatis sit, deserunt dolorem, ut labore quisquam odio obcaecati fugit eligendi totam ea.
                    Error, provident doloribus adipisci laboriosam magnam voluptas fugit totam facilis recusandae
                    voluptates natus! Quibusdam id impedit distinctio iste, debitis consectetur modi quae placeat ad
                    officiis vitae, totam, iusto aperiam consequatur? Quia vero totam explicabo non necessitatibus sunt
                    vitae omnis distinctio quas commodi? Pariatur doloribus ex dolorum porro aliquam dicta quibusdam
                    consequatur possimus minima illum sequi in commodi animi a temporibus qui earum soluta eum, nostrum
                    quaerat non perferendis delectus quos? Laborum tenetur consectetur rerum velit nemo ullam architecto
                    eaque consequatur commodi totam autem esse repudiandae assumenda, vero natus ab tempora neque
                    dolorum reiciendis labore doloribus laboriosam molestiae quia. Ipsa, recusandae quaerat. Aliquid
                    quos quaerat recusandae laboriosam alias temporibus vitae placeat dignissimos iusto facilis
                    voluptate a ad et iure illo sint, corporis ipsa. Porro libero vitae molestias hic ullam distinctio
                    quidem vel fugiat quo iure, neque quibusdam doloribus? Iure ipsam, ducimus quae qui quod odit?</p>
            </li>
        </ul>
    </div>
    <div class="sec2" id="5">
        <ul>
            <li class="lii">
                <p class="subhd">Ionization energy</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni reprehenderit aliquam
                    quas recusandae impedit libero molestias debitis aliquid hic sit suscipit harum quisquam vero
                    expedita dolorem, qui illo cum cupiditate! Dignissimos qui neque vitae voluptas eum possimus vel
                    iusto in magnam. Temporibus numquam placeat repellat possimus natus, vel dignissimos ex blanditiis
                    sit eveniet eligendi inventore ipsa qui beatae nam a ipsam. Vero, architecto ipsam nesciunt tempora
                    distinctio cumque aut nostrum vel nobis minus obcaecati similique esse rem, at accusamus ullam sit
                    expedita sunt ipsum consequatur aspernatur nemo! Fugit in ratione mollitia odio voluptate inventore,
                    magnam, reiciendis repellat tempore quam dolorum nemo veniam eum assumenda, laboriosam distinctio
                    eius animi aliquid! Officia quos minus iure officiis. Pariatur culpa vel libero consequatur nam, quo
                    voluptate laboriosam temporibus quae, reprehenderit qui nesciunt fuga alias voluptas eius! Fugiat
                    ipsum omnis tenetur debitis ipsam asperiores ullam neque harum. Quos ipsum itaque fugiat labore ut
                    asperiores obcaecati ipsa quis? Magni, optio omnis corporis ipsam sequi voluptatibus delectus quia
                    asperiores libero dignissimos quas totam eum unde suscipit officiis minima assumenda adipisci et
                    placeat! Quisquam nisi vel placeat voluptatum animi vitae provident ex repellat asperiores
                    perferendis quod velit magnam praesentium odio, laudantium reprehenderit deserunt. Eum provident ad
                    sed nulla temporibus corrupti dignissimos assumenda magni, iste aliquam nesciunt est, voluptatem
                    dolorem quis maiores, adipisci nisi deserunt aperiam. Dignissimos in doloremque minima consectetur
                    impedit optio quisquam, doloribus ut a recusandae non maiores voluptates commodi inventore natus
                    provident officia veritatis temporibus rerum accusamus minus dicta, facilis sit! Placeat minima a
                    maiores aperiam?</p>
            </li>
        </ul>
    </div>
    <div class="sec2" id="6">
        <ul>
            <li class="lii">
                <p class="subhd">Electronegativity</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quas accusantium
                    quisquam repellendus voluptates incidunt itaque fuga accusamus provident illum? Illum quaerat itaque
                    quasi, adipisci tempore ut temporibus illo modi saepe neque aliquid perferendis impedit at nihil
                    dolores? Quod eos quo hic repellat iusto ducimus incidunt mollitia laudantium? Tempora qui
                    distinctio minus voluptates laudantium hic nam cumque iste? Modi excepturi repellendus quo eaque
                    impedit non ut blanditiis illum officia maiores, debitis eveniet autem libero, labore, nisi quas
                    culpa vero quam sint aperiam voluptatem. Vitae unde dolores assumenda doloremque quibusdam
                    consequatur adipisci magni minus, repellendus rerum dolorem. Voluptates, iste? Ab hic iusto
                    doloremque a facere quaerat repellendus alias optio aut vero neque natus illo soluta, fugiat rem ea
                    magni laudantium dolorem. Eius necessitatibus maxime, dicta recusandae iste illo a at repudiandae
                    dolorem possimus soluta corporis incidunt quasi fugit et veniam. Corrupti rerum temporibus deserunt
                    molestias. Accusantium minima ea natus labore, quos voluptatum? Nemo illum recusandae sit reiciendis
                    cumque voluptatibus quia, tempore fugit. Nobis adipisci repellendus vel deserunt dignissimos natus
                    sed voluptate saepe. Rerum eius officia velit dicta explicabo atque iure ut cum tempore
                    necessitatibus sit ipsa veniam suscipit nobis, quis maxime nulla eaque? Ipsam ut maiores distinctio
                    unde odio nulla voluptates nesciunt voluptas harum, aliquam illum tempore delectus consectetur animi
                    perferendis, porro sed repellat provident accusantium debitis excepturi. Ab, possimus, mollitia
                    autem dolor soluta architecto aliquam blanditiis molestias fugiat illum dolorum ea ipsa voluptate
                    numquam quos quidem, enim magni molestiae itaque accusantium magnam. Dicta consequuntur harum
                    eveniet accusamus ea, animi est aliquam consequatur dignissimos modi dolore sit, eaque et minima
                    minus, quia doloremque iste qui facilis aut! Aliquid atque deserunt facilis molestias repudiandae
                    obcaecati itaque illum quae voluptas id a voluptatibus impedit, et at ipsum placeat unde ea debitis
                    doloremque quod veniam! Repudiandae nisi error tempora, unde amet eveniet alias omnis?</p>
            </li>
        </ul>
    </div>
    <div class="sec3" id="7">
        <ul>
            <li class="lii">
                <p class="subhd">Elements with unknown chemical properties</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore nihil ullam
                    reprehenderit! Earum rerum vel ex consequuntur quam minima animi voluptatibus, sapiente aspernatur
                    doloribus dolorem deserunt officia est quae aperiam facere optio, cum veritatis molestias fuga
                    tempore libero dolorum praesentium? Doloribus sint qui harum soluta id? Assumenda dignissimos ullam
                    velit ut ipsam et impedit, autem iusto vel expedita earum quam dolor aut deleniti quas! Omnis quas
                    aut vitae animi ipsum, ipsa ea modi minus odit sunt tenetur qui tempora doloremque mollitia debitis
                    nobis accusamus quam reprehenderit sapiente iusto pariatur vel earum aliquam? Deleniti veniam omnis,
                    at, vero laudantium enim recusandae asperiores ullam ad fugit maxime labore quaerat explicabo nihil
                    necessitatibus. Dolorem asperiores laudantium fugit labore voluptate ullam ut provident dicta
                    debitis nulla hic repellendus voluptatem recusandae, atque nam adipisci eaque vero. Sint tempora
                    omnis quaerat dolorem sequi ut eveniet ea odit inventore nulla illum magnam, repellendus hic animi
                    distinctio voluptas itaque dolorum. Commodi illum quasi consequatur voluptas vero? Molestiae
                    assumenda sit ratione odio commodi minus repellendus consequuntur optio nobis sequi unde nostrum
                    modi incidunt hic saepe beatae, praesentium laboriosam inventore temporibus repellat veritatis. A
                    eos repellendus nostrum repudiandae fuga sapiente ratione illo mollitia, aliquam repellat magni
                    beatae, hic possimus qui.</p>
            </li>
        </ul>
    </div>
    <div class="sec3" id="8">
        <ul>
            <li class="lii">
                <p class="subhd">Further periodic table extensions</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem illum dolorem
                    quisquam, ipsam tempora totam, officia ipsa veritatis, impedit dolore minus harum expedita sunt
                    assumenda nam debitis libero temporibus blanditiis! Incidunt tempore, sapiente eaque iure aliquid
                    nisi nostrum maiores reiciendis totam architecto, quam rem? Aspernatur dignissimos temporibus at
                    dolore provident harum, quibusdam aperiam? Non culpa aliquid temporibus dolor ipsum, corrupti minus,
                    quasi totam possimus optio debitis quae dicta consequuntur delectus velit. Iste necessitatibus
                    temporibus ex laborum iusto nostrum laboriosam error dolorum eos inventore quod, ut odio excepturi
                    dolorem exercitationem, qui dolor distinctio quae. Dolorem aspernatur, sed sequi in dolore enim
                    consequuntur nostrum. Adipisci necessitatibus blanditiis doloremque alias veniam inventore corporis,
                    rem omnis quibusdam cum illo nobis autem accusamus vero quia nostrum et asperiores amet eaque iste
                    impedit optio! Velit, eveniet ipsa sit quis numquam ipsum assumenda fugit commodi autem perferendis
                    dolorum quam possimus soluta recusandae cupiditate odit similique aliquam sapiente.</p>
            </li>
        </ul>
    </div>
    <div class="sec3" id="9">
        <ul>
            <li class="lii">
                <p class="subhd">Element with the highest possible atomic number</p>
                <a href="#toc"><input type="button" value="Go to TOC"></a>
                <p class="para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam maiores tenetur, aut
                    aperiam, soluta nobis, autem excepturi non ex suscipit laboriosam placeat ea distinctio? Ipsa quas
                    error non. Nulla ipsam non iure possimus molestias quibusdam aliquid voluptatibus aliquam blanditiis
                    distinctio vel eum magni aut architecto ab, cupiditate a quisquam magnam, quis debitis fugit
                    consectetur numquam nemo! Ducimus voluptatum rem deserunt quod fugiat atque aliquid explicabo
                    voluptas nihil repellat dolore ea saepe aperiam illum quia libero quasi possimus, inventore omnis et
                    aut earum labore? Expedita rem possimus ipsa repellat laborum voluptatum ad accusamus blanditiis
                    incidunt iure fuga cupiditate voluptate, nobis animi asperiores exercitationem architecto a tempore.
                    Obcaecati neque iure repellendus saepe dolorem dolor quidem expedita optio? Voluptate neque quam
                    expedita voluptatem saepe possimus nostrum doloremque dignissimos id repellat sunt, explicabo
                    sapiente! Qui, est distinctio? Optio nulla earum assumenda id, perferendis consequatur placeat eius
                    veniam amet corrupti error cupiditate voluptate, illum, explicabo dolor odit quis reprehenderit
                    magni ut consectetur. Veritatis molestias perspiciatis eum numquam reprehenderit nemo nobis ad in,
                    soluta, velit optio debitis accusamus consequuntur cumque sapiente enim maxime laudantium id omnis.
                    Quasi recusandae excepturi impedit vero unde hic? Ab natus provident mollitia quo fugiat
                    consequatur, magnam sapiente cumque quod voluptatem nihil.</p>
            </li>
        </ul>
    </div>
</body>

</html>