<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="calcu" method="POST">
        {% csrf_token %} 
        <input type="text" name="firstnumber" placeholder="enter first number">
        <input type="text" name="secondnumber" placeholder="enter second number">
        <button type="submit">sum</button>
        {{sum}}
    </form>
</body>
</html>